.container{
    display: flex;
    flex-direction: row;

}
.keyword_wrap{
    display: flex;
    flex-direction: column;
    width:50%;
}
.info{
    display: flex;
    flex-direction: column;
    width:50%;
    margin-top: 60px;
}

.select {position:relative ;left:180px;top:30px;width:500px;}

.food {
    padding:3px 80px 3px 80px;
    border-radius:5px;
    border:solid 2px #8a8a8a;
    background-color:white;
}

.cafe {
    padding:3px 80px 3px 80px;
    border-radius:5px;
    border:solid 2px #8a8a8a;
    background-color:lightblue;
}

.select a {
    color:black;
    font-size:14px;
}

.filter {
    position:relative;
    top:55px;
    left:100px;
    width:500px;
    display : flex;
}

.filter button{
    border-radius:10px;
    border: solid 1px #002148;
    font-size: 15px;
    padding: 2px;
    margin-right: 10px;
    background-color: white;
    cursor: pointer;
}
.btn_all button{

    background-color: #013B70;
    color: white;

}

#storeinfo {

    display : none;

}
.storeinfo {
    display : flex;
    display: none;
    margin-top : 10px;
    height : 130px;
    width: 400px;
    border: solid 2px rgba(0,0,0,.08);
}
.storeinfo input {
    background-color: transparent;
    padding: 10px;
    font-size: 14px;
}
.storename{
    display: flex;
}
.selectcategory{
    font-size: 14px;
    display: inline;
}
.selectcategory p{
    padding:10px;
}
.selectcategory input{
    margin:5px;
}
.storeinfo button {
    position : relative;
    left : 250px;
    margin: 5px;
}

.noneDiv {
    display:none;
}

.column{
    display: flex;
    width: 400px;
    height : 80px;
    font-size :13px;
    align-items: flex-start;
    padding: 7px;

}

.column_left{

    width: 600px;
    padding: 10px 0px 10px 0px;
}
.column_top{
    display:inline;
}
.post_title{

    display:inline;
}
.post_content{

    font-size: 14px;

}
.post_like{
    position: relative;
    left : 270px;
}
.likebutton button{
    position: relative;
    left : 255px;
    bottom: 45px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.arraymenu{
    position: relative;
    margin-left: 50px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 3px;
}

.arraymenu select{
    height: 25px;
}