.map{
    display : flex;
}
.mapview{
    position:relative;
    left : 100px;
    top: 60px;
    width:550px;
    height:410px;
}
.menu_wrap {
    position:absolute;
    left: 90px;
    top: 250px;
    width:200px;
    height: 350px;
    margin:10px 0 30px 10px;
    padding:5px;
    overflow-y:auto;
    background:rgba(255, 255, 255, 0.7);
    z-index: 1;
    font-size:12px;
    border-radius: 10px;
}
.menu_wrap hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #5F5F5F;
    margin:3px 0;
}
.container{
    display: flex;
    flex-direction: row;

}
.keyword_wrap{
    display: flex;
    flex-direction: column;
    width:50%;
}

.info{
    display: flex;
    flex-direction: column;
    width:50%;
    margin-top: 60px;
    margin-left: 100px;
}

.select {position:relative ;left:180px;top:30px;width:500px;}

.food {
    padding:3px 80px 3px 80px;
    border-radius:5px;
    border:solid 2px #8a8a8a;
    background-color:white;
}

.cafe {
    padding:3px 80px 3px 80px;
    border-radius:5px;
    border:solid 2px #8a8a8a;
    background-color:lightblue;
}

.select a {
    color:black;
    font-size:14px;
}

.filter {
    display : flex;
    position:relative;
    margin : 5px;
    top: 70px;
    left:100px;
    width:500px;
}

.filter button{
    border-radius:10px;
    border: solid 1px #002148;
    font-size: 15px;
    padding: 2px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.btn_all{

    background-color: #013B70;
    color: white;

}
.btn_1{
    background-color: white;
}
.btn_2{
    background-color: white;
}
.btn_3{
    background-color: white;
}
.btn_4{
    background-color: white;
}
.btn_all  label{
    position: relative;
    left: -6px;
    cursor: pointer;
}
.btn_1  label{
    position: relative;
    left: -6px;
    cursor: pointer;
}
.btn_2  label{
    position: relative;
    left: -6px;
    cursor: pointer;
}
.btn_3  label {
    position: relative;
    left: -6px;
    cursor: pointer;
}
.btn_4  label{
    position: relative;
    left: -6px;
    cursor: pointer;
}
.btn_marker{

    cursor: pointer;
    background-color : white;
}
.btnall {
    opacity: 0;

}
.btn1{
    opacity: 0;
}
.btn2{
    opacity: 0;
}
.btn3 {
    opacity: 0;

}
.btn4{
    opacity: 0;
}

#storeinfo {

    display : none;

}
.storeinfo {
    display : flex;
    display: none;
    margin-top : 20px;
    margin-bottom: 10px;
    width: 430px;
    border: solid 2px rgba(0,0,0,.08);
}
.storeinfo input {
    background-color: transparent;
    padding: 10px;
    font-size: 14px;
}
.storename{
    display: flex;
}
.selectcategory{
    font-size: 14px;
    display: inline;
}
.selectcategory p{
    padding:10px;
}
.selectcategory input{
    margin:5px;

}
.selectcategory label{
    cursor: pointer;
}
.storeinfo button {

    float : right;
    margin: 5px;
}

.noneDiv {
    display:none;
}

.column{
    display: flex;
    width: 430px;
    height : 80px;
    font-size :13px;
    align-items: flex-start;
    padding: 7px;

}

.column_left{

    width: 600px;
    padding: 10px 0px 10px 0px;
}
.column_top{
    display:inline;
}
.post_title{

    display:inline;
}
.post_content{

    font-size: 14px;

}


.likebutton {
    position: relative;
    display : inline;
    left : 270px;
    bottom : 40px;


}
.post_like{
    position:relative;
    left : 43px;
    bottom: 5px;
    font-size: 15px;
    display : inline;
}

.post_dislike{
    display : inline;
    position:relative;
    left : 45px;
    bottom: 5px;
    font-size: 15px;
}
.likebutton button{
    display : inline;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin-right : 20px;
}

.arraymenu{
    width: 430px;
    text-align: end;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 3px;
}

.arraymenu select{
    height: 25px;
}

