.food {padding:3px 80px 3px 80px; border-radius:5px; border:solid 2px #8a8a8a; background-color:white;}
.cafe {padding:3px 80px 3px 80px; border-radius:5px; border:solid 2px #8a8a8a; background-color:lightblue;}
.select  a {color:black;font-size:14px;}

