.block{
    margin-bottom: 20px;
    display: block;
    width: inherit;
    border: solid 1px #dadada;
}
.table{
    display: inline-block;
    width:900px;
    text-align: center;
}
.column{
    float: left;
    width: 300px;


}
.checkbox{
    transform: scale(1.1);
}
.item{

    font-weight: bold;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    background: #f3f3f4;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}
.content{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select{
    width: 100px;
    font-size: 14px;
}
.btn_area{
    display: flex;
    border-top: 1px solid #eaeaea;
    padding: 10px 0px;
    justify-content: center;
}
.btn_primary{
    color: #fff;
    border: solid 1px rgba(0,0,0,.08);
    background-color: #013B70;
}
.btn_secondary{
    color: #013B70;
    background-color: rgb(255, 255, 255);
    border: 1px solid #013B70;
}
.btn_type{
    display: block;
    width:80px;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 3px;
}

