
.container{
    width: 900px;
    margin: 0px auto;
}
.content{
    margin: 0px 20px 0px 20px;
    width: inherit;
}
table{
    border-collapse:collapse;
    font-size: 18px;
    width: inherit;

}
thead{
    border-top: 2px solid rgba(0, 0, 0, 0.80);
    border-bottom: 1px solid rgba(0, 0, 0, 0.80);
    background: #EEEFF1;

}
.title{
    padding: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
}


tr {
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.80);

}
th{
    padding: 7px;
}
td {
    padding: 7px;
    text-align: center;
    width: 16px;
}

.btn_area{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-top: 1px solid rgb(247, 247, 247);
    padding: 40px 0px;
}
.btn_primary{
    color: #fff;
    border: solid 1px rgba(0,0,0,.08);
    background-color: #013B70;
}
.btn_secondary{
    color: #013B70;
    background-color: rgb(255, 255, 255);
    border: 1px solid #013B70;
}
.btn_type{
    display: block;

    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 15px;
    width: 105px;
    height: 50px;
    padding: 15px 28px;
    justify-content: center;
    align-items: center;

}
